.overflow-block {
  &__card-body {
    position: relative;
    border: solid 1px $bar-ilan-green;
    
    @include dark-section;

    &--two {
      a {
        font-size: 1.375rem;
        line-height: 1.5;
        color: $bar-ilan-green;
        padding: 40px 25px;
        display: block;

        &:hover {
          text-decoration: none;
        }

        @include dark-section;
      }

      svg {
        width: 43px !important;
        position: absolute;
        bottom: 20px;
        left: 20px;
        height: 13px !important;

        @include dark-section-img;

        body[dir="ltr"] & {
          right: 20px;
          left: auto;
          transform: rotate(180deg) translate3d(0, 0, 0) !important;
        }
      }
    }
  }


  &__card-title {
    font-size: 2rem;
    color: $white;
    position: absolute;
    top: calc(50% - 24px);
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }
}