.page-node-type-staff {
  #block-biu-base-page-title {
    h1 {
      font-size: 40px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      color: $dark-green;
    }
  }
}