.social-feed-slider {
  padding-top: 32px;
  padding-bottom: 32px;
  width: calc(100vw - ((100vw - 100%) / 2));

  .swiper-slide {
    width: 300px;
    color: $white;

    body[dir="rtl"] & {
      margin-left: 20px;
    }

    body[dir="ltr"] & {
      margin-right: 20px;
    }
  }

  .social-feed-header {
    width: 60%;
    margin-bottom: 17px;

    .field--name-field-sub-title {
      font-size: 20px;
      line-height: 1;
      margin-bottom: 11px;
      color: $white;
    }

    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.14;
      color: $white;
      margin: 0;
    }

    .field--name-field-hashtag-text {
      font-size: 20px;
      font-weight: normal;
      line-height: 2.3;
      color: $white;
    }
  }

  .social-feed-nav {
    display: none;
  }


  @include grid-breakpoint($mq-desk, desk) {
    padding-top: 40px;
    padding-bottom: 40px;
    .social-feed-header {
      @include container;

      margin-right: 0 !important;
      margin-left: 0 !important;
      display: block;
      width: 100%;
      margin-bottom: 15px;

      .field--name-field-sub-title, h2, .field--name-field-hashtag-text {
        width: span(3 wide of 12);
      }

      .field--name-field-sub-title {
        font-size: 32px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 19px;
      }

      h2 {
        font-size: 40px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 9px;
      }

      .field--name-field-hashtag-text {
        font-size: 22px;
        font-weight: 500;
        line-height: 2.09;
      }

      .social-feed-nav {
        display: block;
        width: span(3 wide of 12);
        float: left;
        position: relative;

        body[dir="ltr"] & {
          float: right;
        }

        .swiper-button-next, .swiper-button-prev {
          margin: 0;
          display: flex;
          width: auto;
          height: auto;
          left: auto;
          right: auto;

          &::after {
            content: none;
          }

          svg {
            width: 77px;
            height: 30px;
          }
        }

        .swiper-button-next {
          left: 0;
          top: 5px;

          body[dir="ltr"] & {
            left: auto;
            right: 160px;
          }
        }

        .swiper-button-prev {
          left: 117px;
          transform: rotate(180deg);
          top: 4px;

          body[dir="ltr"] & {
            left: 180px;
          }
        }
      }
    }

    .swiper-slide {
      width: 334px;

      body[dir="rtl"] & {
        margin-left: 50px;
      }

      body[dir="ltr"] & {
        margin-right: 40px;
      }
    }
  }
}
