@import '../../../00-base/01-colors/_colors-vars.scss';
@import "../../../00-base/base/global";
@import './overflow-card';

.overflow-block {

  &__wrap {
    padding: 30px 0;
    max-width: 1174px;
    margin: 0 auto;

    &--three {
      padding: 0;
    }
  }


  &__content {
    &.overflow-block__content--three {
      display: block;
    }

  }

  &__card {
    &--three {
      &:nth-child(2n+2){
        figure {
          order: 3;
        }
      }
    }
  }
}