.information-banner {
  padding-bottom: 65px;
  padding-top: 65px;

  h3 {
    text-align: center;
    font-size: 40px;
    color: $color-heading;
    margin-top: 0;
    margin-bottom: 10px;
  }

  h4 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: $color-heading;
    margin-bottom: 38px;
    margin-top: 0;
  }

  .banner-content {
    .banner-link {
      width: span(2 of 2);
      background-color: $jungle-green;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 20px;
      margin-bottom: 50px;

      .animation-container {
        position: relative;

        .link {
          color: $color-heading--light;
          font-size: 16px;
          font-weight: normal;
          text-decoration: none;
        }

        svg {
          width: 43px !important;
          height: 13px !important;
          position: absolute;
          left: 8px;
          top: 2px;

          body[dir="ltr"] & {
            left: auto;
            right: 0;
            transform: rotate(180deg) !important;
          }
        }
      }
    }

    .body {
      color: $color-heading;
      font-size: 20px;
      text-align: center;
    }
  }

  .banner-links {
    .banner-tour {
      margin-bottom: 16px;
    }
  }

  body[dir="ltr"] & {
    .banner-content {
      .banner-link {
        padding-left: 20px;
      }
    }
  }

  @include grid-breakpoint($mq-tab-wide, tab-wide) {
    padding-top: 88px;
    padding-bottom: 76px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 40% 100%;

    .open-days {
      width: span(6 of 12);
      margin-left: gutter(1);
      float: right;

      h3, h4 {
        font-size: 56px;
        font-weight: normal;
        text-align: inherit;
        margin-bottom: 0;
      }
    }

    .banner-content {
      width: span(3 of 12);
      margin-left: gutter(1);
      float: right;
      display: flex;
      flex-direction: column-reverse;

      .banner-link {
        width: span(9 of 12);
        background-color: $jungle-green;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .body {
        font-size: 16px;
        line-height: 24px;
        padding-left: 0;
        padding-right: 0;
        text-align: inherit;
        margin-top: 0;
        margin-bottom: 14px;
      }
    }

    .banner-links {
      width: span(2.2 of 12);
      float: left;

      .banner-tour {
        margin-bottom: 21px;
      }

      .link-with-icon {
        padding-top: 6px;
        padding-bottom: 6px;
        align-items: center;

        a {
          align-items: center;
        }

        svg.icon {
          width: 24px !important;
          height: 24px !important;
          margin-left: 8px;
        }
      }
    }

    body[dir="rtl"] & {
      background-image: url('/themes/custom/biu_base/assets/images/backgrounds/information-banner-bg.png');
      background-position: 100% 0;
    }

    body[dir="ltr"] & {
      background-image: url('/themes/custom/biu_base/assets/images/backgrounds/information-banner-bg-en.png');
      background-position: 0 0;

      .open-days {
        float: left;
        margin-left: 0;
        margin-right: gutter(1);
      }

      .banner-content {
        float: left;
        margin-left: 0;
        margin-right: gutter(1);
      }

      .banner-links {
        float: right;

        .link-with-icon {
          svg.icon {
            margin-left: 0;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.sg-container.information-banner {
  @include container;
}
