$bp-tab: 'min-width: 720px';
$bp-tab-wide: 'min-width: 960px';
$bp-desk: 'min-width: 1200px';
$bp-desk-wide: 'min-width: 1366px';

$bp-mobile: 'max-width: 719px';

$xs: '320px';
$sm: '480px';
$md: '1036px';
$lg: '1366px';

$bp-min-xs: 'min-width: 320px';
$bp-min-sm: 'min-width: 480px';
$bp-min-md: 'min-width: 1036px';
$bp-min-lg: 'min-width: 1366px';


$bp-max-xs: 'max-width: 643px';
$bp-max-sm: 'max-width: 1035px';
$bp-max-md: 'max-width: 1365px';

