{#
/**
* @file
* Template for a block.
*/
#}
{# {% include '@storage/block/block.twig' with {
html_tag: 'div',
} %} #}
<div class="block--footerreadtowritethefuture d-flex justify-content-between">
  <div class="icons-left">ddd</div>
  <div class="content align-self-center">
    <h2>Ready to write the future?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae magna </p>
    <a href="#" class="btn btn-primary">get started</a>
  </div>
  <div class="icons-right">ddd</div>
</div>
