.block--contact-form-inline {
  padding: 60px 0;
  background-color: $pale-green;

  .background-color-biu-green & {
    background-color: $bar-ilan-green;
  }

  .background-color-gray & {
    background-color: $light-grey;
    .form-item input {
      background-color: $light-grey;
    }
  }

  .background-color-white & {
    background-color: $white;
    .form-item input {
      background-color: $white;
    }
  }

  .background-color-pale-green & {
    background-color: $pale-green;
    .form-item input {
      background-color: $pale-green;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
    line-height: 1;

    .dark-section & {
      color: $white;
    }
  }

  .form-item {
    input {
      width: 100%;
      height: 48px;
      margin-bottom: 15px;
      border-radius: 24px;
      border: 1px solid $dark-green;
      @include grid-breakpoint($mq-desk, desk) {
        margin-bottom: 0;
      }
    }

    &.form-item-message {
      display: none;
    }

    @include grid-breakpoint($mq-desk, desk) {
      width: 257px;
      margin: 0;
    }
  }

  .contact-form {
    max-width: 433px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      @include grid-breakpoint($mq-desk, desk) {
        width: 100%;
        flex-direction: row;
        align-items: center;

        .form-actions {
          width: 257px;
        }
      }

    }

    @include grid-breakpoint($mq-desk, desk) {
      max-width: 100%;
    }

    .webform-button--submit {
      background-color: $jungle-green;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      padding: 10px 16px 10px 30px;
      text-align: right;
      width: 100%;
      margin: 0;
      text-transform: inherit;
      border: 0;

      body[dir="ltr"] & {
        text-align: left;
      }
    }
  }

  .animation-container {
    position: relative;
    svg {
      width: 25px !important;
      height: 15px !important;
      position: absolute;
      left: 30px;
      top: 11px;

      body[dir="ltr"] & {
        right: 30px;
        left: auto;
        transform: rotate(180deg) translate3d(0, 0, 0) !important;
      }
    }
  }
}
