<section class="section">
  <div class='form-close-icon'><a href="/"></a></div>
  <div class="row">
    <div class="col-md-5 left-image"></div>
    <div class="col-md-7 d-flex right-form">
      <div class="form align-self-center">
        <div class="logo">
          <img src="/themes/custom/training_aid/images/TrainingAid-logo1c.svg" alt="">
        </div>
        <div {{create_attribute().addClass(checkout_login)}}>
          <div aria-label="Warning message" class="alert alert-dismissible fade show col-12 alert-warning" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            You need to sign in or register before continuing.
          </div>
        </div>
        {{ page.content }}
      </div>
    </div>
  </section>