<section class="section">
  <div class='form-close-icon'><a href="/"></a></div>
  <div class="row">
    <div class="col-md-5 left-image"></div>
    <div class="col-md-7 d-flex right-form">
      <div class="form align-self-center">
        <div class="logo">
          <img src="/themes/custom/training_aid/images/TrainingAid-logo1c.svg" alt="">
        </div>
      {{ page.content }}
      </div>
    </div>
  </div>
</section>