@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }
}

.grid2 {
  @include container;

  min-height: 100px;
}

.sg-susy-wrapper {
  max-width: 1366px;
  @include push--auto;
}