// temporarily commented out due to conflicts with group header.
.header {
  width: 100%;
  position: fixed;
  z-index: 9;
  height: 74px;
  background-color: $header_bg;
  box-shadow: 0 2px 20px 0 rgba($black, 0.25);

  body[dir="ltr"] & {
    text-align: left;
    box-shadow: none;
  }

  .menu-wrap-left {
    display: grid;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $header_bg;
    z-index: 9;

    .menu-left-bottom {
      .search-wrap {
        display: none;
      }

      #toggle-expand {
        display: none;
      }

      .main-nav--open {
        position: relative;
        top: 0;
        background-color: $header_bg;
        z-index: 0;
        padding-top: 60px;

        ul.main-menu {
          border-bottom: none;
          padding-left: 28px;
          padding-right: 28px;

          li {
            border-top: 0;
            border-bottom: 1px solid rgba(245, 250, 240, 0.26);

            .main-menu__link {
              font-size: 20px;
              line-height: 16px;
              color: $white;
              padding: 29px 6px 26px;
            }

            .main-menu--sub.show-submenu {
              background-color: $header_bg;
              height: 100vh;
            }
          }

          li.has-sub-menu {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            height: 100vh;
            background-color: $header_bg;
            z-index: 1000;

            > .arrow-img {
              transform: rotate(270deg);
              right: 23px;
              top: 30px;

              body[dir="ltr"] & {
                transform: rotate(90deg);
                left: 23px;
                right: auto;
              }
            }

            > span, > a, > .animation-container > a {
              padding-right: 50px;
              padding-left: 50px;
            }

            .main-menu__link {
              display: block;
              width: 100%;
            }
          }
        }

        .arrow-img {
          transform: rotate(90deg);
          position: absolute;
          left: 0;
          top: 25px;
          cursor: pointer;

          body[dir="ltr"] & {
            transform: rotate(270deg);
            right: 0;
            left: auto;
          }
        }
      }
    }

    .menu-left-top {
      order: 2;
      width: 100%;

      .pale-green {
        width: 28px;
        height: 22px;
        margin-top: 4px;
      }

      .d-flex {
        display: none;
        padding: 0 6px;

        .language-menu {
          border-top: 1px solid rgba(245, 250, 240, 0.26);
          border-bottom: 1px solid rgba(245, 250, 240, 0.26);
          padding: 10px 0 10px;
          position: relative;

          .language-link {
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 0;
            border-bottom: 0;
            padding: 15px 0;
            font-size: 16px;
          }

          .is-active {
            font-size: 20px;
            line-height: 16px;
            color: #fff;
            text-transform: capitalize;
            display: none;
            z-index: 999;
            position: relative;
            margin: 0;
            border: none;
            width: auto;

            &::before {
              content: "";
              background: url('/themes/custom/biu_base/assets/images/arrows/dropdown.svg') no-repeat;
              height: 18px;
              width: 18px;
              position: absolute;
              z-index: 999;
              left: 0;
              top: -4px;

              body[dir="ltr"] & {
                right: 0;
                left: auto;
                display: block;
              }
            }
          }

          .show {
            display: block !important;
            position: relative;
            padding: 10px 15px;
            right: 0;
            top: 0;
            z-index: 999;
            width: auto;
            border: solid 0 rgba($pale-green, 0.25);
            background-color: $bar-ilan-green;
            line-height: 1.75;

            body[dir="ltr"] & {
              display: none !important;
              left: 0;
              right: unset;
            }

            a {
              color: $white;
              margin: 0;
              border: none;

              &:hover {
                color: $light-blue;
              }
            }
          }
        }

        a {
          border-bottom: 1px solid rgba(245, 250, 240, 0.26);
          width: 100%;
          display: block;
          margin-bottom: 70px;

          img {
            padding: 21px 0;
          }
        }
      }

      .d-flex.show-flex {
        display: block;
        padding: 0 28px;
      }

      .toggle-expand {
        position: absolute;
        right: 28px;
        top: 23px;
        width: auto;
        padding: 0;
        height: auto;
        background: transparent;

        body[dir="ltr"] & {
          left: 28px;
          right: auto;
        }
      }

      .toggle-expand.toggle-expand--open {
        top: 18px;
        left: 50px;
        z-index: 999;
        right: auto;

        body[dir="ltr"] & {
          right: 50px;
          left: auto;
        }
      }

      .toggle-expand__close {
        .toggle-expand__text {
          display: none;
        }

        &::before {
          position: absolute;
          //top: -12px;
          font-size: 30px;
        }
      }

      .main-nav--open {
        position: relative;
        top: 0;
        background-color: $header_bg;
        z-index: 0;

        ul.main-menu {
          border-bottom: none;
          padding-left: 28px;
          padding-right: 28px;

          li {
            border: none;

            .main-menu__link {
              font-size: 20px;
              line-height: 20px;
              color: $white;
              padding: 14px 6px 14px;
            }
          }
        }
      }

      .register-wrap--.mobile-register {
        display: none;
      }

      .register-wrap--.mobile-register.show-register {
        display: block;

        ul {
          border-bottom: 0;

          li {
            border-top: 0;

            a {
              font-size: 16px;
              line-height: 16px;
              font-weight: normal;
              color: $white;
              width: 100%;
              text-align: center;
              background-color: $jungle-green;
            }
          }
        }
      }
    }
  }

  .menu-wrap-left.scroll {
    height: 100vh;
    overflow: scroll;
  }

  .mobile-input-group {
    float: left;
    margin-left: 28px;
    display: block;
    padding: 23px 0;

    body[dir="ltr"] & {
      float: right;
      margin-left: auto;
      margin-right: 28px;
    }

    .search-icon img {
      height: 28px;
      width: 28px;
    }
  }

  .header__inner {
    padding-top: 15px;

    .header__branding {
      .site-logo {
        width: 120px;
        height: 45px;
        margin: auto;

        .site-link {
          display: block;
          height: 100%;

          .icon {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .mobile-toggle {
    width: 40px;
    float: right;
    height: 40px;
    margin: 4%;

    body[dir="ltr"] & {
      float: left;
    }
  }

  .mobile-toggle img {
    width: 35px;
    height: 35px;
  }

  @include grid-breakpoint($mq-desk, desk) {
    width: 100%;
    height: 106px;
    margin-bottom: 4em;
    .header__inner {
      padding-top: 0;

      .header__branding {
        .site-logo {
          width: 213px;
          height: 78px;
        }
      }

      body[dir="ltr"] & {
        float: none;
      }
    }
    .mobile-toggle {
      display: none;

      body[dir="ltr"] & {
        display: none;
      }
    }
    .mobile-input-group {
      display: none;
    }

    .main-menu__link {
      color: $pale-green;
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      padding: 7px 10px;
    }

    &__inner {
      float: none;
      margin: 0;
      display: flex;
      flex-flow: column nowrap;
    }

    &__primary {
      display: flex;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.25);
    }

    .menu-wrap-left {
      flex: 1 0 100%;
      display: block;
      position: unset;
      top: 0;
      background-color: transparent;
      flex-basis: calc(100% - 286px);

      .menu-left-bottom {
        display: flex;
        align-items: center;
        background-color: $bar-ilan-green;

        .main-menu__link {
          padding: 22px 8px 20px 8px;
          font-size: 1rem;
          line-height: 1;
        }

        .arrow-img-desktop {
          float: left;
          padding-top: 18px;

          body[dir="ltr"] & {
            float: right;
          }
        }

        .arrow-active {
          .arrow-img-desktop {
            transform: rotate(180deg);
            padding-top: 0;
            padding-bottom: 25px;
          }

          span.main-menu__link.main-menu__link--with-sub {
            color: #78cde6;
          }

          ul.main-menu--sub-1 {
            display: block;

            span {
              color: $white !important;
            }
          }
        }

        ul.main-menu--sub-1 {
          .arrow-img-desktop.close {
            position: relative;
            padding: 0;
            cursor: pointer;
            z-index: 999;
            float: none;
            display: inline-block;
            right: 816px;

            body[dir="ltr"] & {
              right: auto;
              left: 816px;
            }
          }

          li {
            .arrow-img-desktop {
              display: none;
            }

            span {
              display: table;

              .icon--arrow-sub-img-desktop {
                position: absolute;
                left: -25px;
                top: 5px;
              }
            }

            .animation-container.menu-animated-arrow {
              position: relative;

              a {
                display: inline-block;
              }

              svg {
                display: inline-block;
                width: 43px !important;
                height: 13px !important;

                body[dir="ltr"] & {
                  transform: rotate(180deg) !important;
                }
              }
            }

            a.main-menu__link--sub-1 {
              font-size: 18px;
              line-height: 24px;
              padding: 0;
              font-weight: 500;
              margin-bottom: 8px;
              display: table;

              &:hover {
                background-color: transparent;
              }

            }
          }

          .icon--arrow-sub-img-desktop {
            display: block;
            width: 16px;
            height: 10px;
            left: 50px;
            top: 6px;
            position: absolute;

            body[dir="ltr"] & {
              top: 9px;
              right: 0;
              transform: rotate(180deg);
              left: 94px;
            }
          }
        }

        .search-wrap {
          display: flex;
          border-right: 1px solid rgba($pale-green, 0.26);

          body[dir="ltr"] & {
            border-right: none;
            border-left: 1px solid rgba($pale-green, 0.26);
          }

          .input-group {
            padding-left: 7px;
            padding-right: 7px;
            display: flex;
            align-items: center;
          }

          .input-group-append {
            vertical-align: middle;
            display: inline-block;
            height: 25px;
          }
        }
      }

      .menu-left-top {
        order: unset;

        .d-flex {
          display: inline-block;

          > li.main-menu__item {
            float: right;
            padding: 16px 0;
            margin-left: 24px;

            body[dir="ltr"] & {
              float: left;
              margin-left: 0;
              margin-right: 24px;
            }

            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 1;
              letter-spacing: normal;
              color: $pale-green;
              padding: 0;
            }
          }

          > .block {
            float: right;

            body[dir="ltr"] & {
              float: left;
              padding-left: 0;
              padding-right: 34px;

              .language-menu {
                padding: 15px 0;
              }
            }
          }

          > .accessibility-icon {
            float: right;
            width: auto;
            padding: 10px 0;

            body[dir="ltr"] & {
              float: left;
            }
          }

          .language-menu {
            position: relative;
            font-size: 0.875rem;
            border: none;
            padding: 0;

            .language-link {
              padding: 0;
            }

            a {
              display: block;
              text-decoration: none;
              text-transform: capitalize;
              text-align: left;
            }

            .is-active {
              text-transform: uppercase;
              position: relative;
              font-size: 16px;

              &::before {
                content: "";
                background: url('/themes/custom/biu_base/assets/images/arrows/dropdown.svg') no-repeat;
                height: 18px;
                width: 18px;
                position: absolute;
                z-index: 999;
                right: -20px;
                top: -4px;

                body[dir="ltr"] & {
                  right: -28px;
                }
              }
            }

            .show {
              display: block;
              position: relative;
              padding: 10px 15px;
              left: 0;
              top: 0;
              right: auto;
              z-index: 999;
              width: auto;
              border: solid 0 rgba($pale-green, 0.25);
              background-color: $bar-ilan-green;
              line-height: 1.75;

              body[dir="ltr"] & {
                left: unset;
                right: -27px;
                display: none;
              }

              a {
                &:hover {
                  color: $light-blue;
                }
              }
            }
          }

          a {
            margin-bottom: 0;
            border-bottom: 0;

            img {
              padding: 0;
            }
          }
        }

        border-bottom: 1px solid rgba($pale-green, 0.26);
        padding-left: 24px;

        body[dir="ltr"] & {
          padding-left: 0;
          padding-right: 24px;
        }

        .main-menu__link {
          padding: 18px 10px 14px 10px;
        }
      }

      .menu-left-top, .menu-left-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          color: $pale-green;
        }
      }
    }
    .main-menu__item:not(.main-menu__item--sub) {
      &:hover {
        background: none;
      }

      > a, > span {
        cursor: pointer;

        &:hover, &:focus {
          color: $light-blue;
        }
      }
    }


    #header-search {
      background-color: $header_bg;
      color: $pale-green;
      padding: 16px 0;
      border: 0;
      width: 130px;

      &:focus {
        outline: 0;
      }

      &:-webkit-autofill {
        background-color: $header_bg !important;
        -webkit-box-shadow: 0 0 0 1000px $header_bg inset;
        color: $pale-green !important;
        -webkit-text-fill-color: $pale-green;

      }

      + span img {
        display: inline;
      }
    }
    .lang-dropdown-form {
      .form-item {
        margin: 0;
      }

      .form-item__dropdown {
        border: 0;
      }

      .form-item__select {
        width: auto !important;
        color: $pale-green;

        &:focus {
          border: 0;
        }

        option {
          color: $black;
        }
      }

      + div {
        display: none;
      }
    }

    &__branding {
      flex: 0 0 286px;
      max-width: 300px;
      padding: 11px 30px 17px 42px;
      border-left: 1px solid rgba($pale-green, 0.26);
      background-color: $bar-ilan-green;

      body[dir="ltr"] & {
        border-left: none;
        border-right: 1px solid rgba($pale-green, 0.26);
      }
    }

    .register-wrap {
      border-right: 1px solid rgba($pale-green, 0.26);

      body[dir="ltr"] & {
        border-right: none;
        border-left: 1px solid rgba($pale-green, 0.26);
      }

      .main-menu {
        background-color: $jungle-green;
      }

      .main-menu__link {
        padding: 24px 23.5px 18px 23.5px;
      }
    }

    div[role="navigation"] {
      padding-left: 16px;
    }
  }
  @include grid-breakpoint($mq-desk-wide, desk-wide) {
    #header-search {
      width: auto;
      color: $pale-green;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
    }
    input::placeholder {
      color: $pale-green;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
    }
    .menu-wrap-left .menu-left-bottom {
      padding-right: 15px;

      body[dir="ltr"] & {
        padding-right: 0;
        padding-left: 15px;
      }

      .main-menu__link {
        padding: 22px 10px 20px 10px;
      }

      .search-wrap .input-group {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
    .menu-left-bottom .register-wrap {
      .main-menu__link {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    .menu-wrap-left .menu-left-top {
      padding-right: 15px;

      body[dir="ltr"] & {
        padding-left: 15px;
      }
    }
  }
  @include grid-breakpoint($mq-desk, desk) {
    input::placeholder {
      color: $pale-green;
      opacity: 0.5;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
    }
  }
}

.main {
  padding-top: 74px;
  @include grid-breakpoint($mq-desk, desk) {
    padding-top: 147px;
  }
}

#INDbtnWrap {
  // Hide accessibility button plugin.
  display: none;
}

select {
  &:focus {
    outline: revert;
  }
}


@media (min-width: 1200px) {
  header.header > .header__inner > .header__primary .menu-left-bottom .header__menu nav #main-nav > ul > li:nth-child(3) ul.main-menu--sub-1 > li:nth-of-type(2) .animation-container.menu-animated-arrow svg {
    width: 27px !important;
  }
}

.whatsapp-chat-widget {
  position: fixed;
  top: 84px;
  left: 10px;
  z-index: 8;

  body[dir="ltr"] & {
    left: auto;
    right: 10px;
  }

  a {
    img {
      width: 45px;
      height: 45px;
      display: block;
    }
  }

  @include grid-breakpoint($mq-desk, desk) {
    top: 130px;
    left: 24px;
    body[dir="ltr"] & {
      left: auto;
      right: 24px;
    }
    a {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
