<div class="sg-header-styles">
  {% for i in 1..6 %}
    <div class="sg-pattern pl-heading-examples">
      <h3 class="sg-pattern-title">h{{ i }}</h3>
      {% include "@atoms/text/headings/_heading.twig" with {
        "heading_level": i,
        "heading": "זו דוגמא לכותרת " ~ i
      } %}
      {% include "@atoms/text/headings/_heading.twig" with {
        "heading_level": i,
        "heading": "זו דוגמא לכותרת בהירה " ~ i,
        "heading_modifiers": ['light']
      } %}
        <hr />
    </div>
  {% endfor %}
</div>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
