.footer-menu {
  ul {
    list-style: none;
    padding: 0;

    &:not(.footer-menu--sub) {
      display: flex;
      flex-wrap: wrap;

      li {
        width: span(1 of 2);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-left: 18px;
        display: inline-block;

        h5.footer-menu__link--with-sub {
          font-size: inherit;
          margin: 0;
          font-weight: inherit;
        }
      }

      li.footer-menu__item--sub {
        width: 100%;
      }

      li:nth-child(2n) {
        margin-left: 0;
        vertical-align: top;
      }
    }

    li {
      a {
        text-decoration: none;
        color: $dark-green;
        line-height: 1.70;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  ul.footer-menu--sub {
    li {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  .expand-sub {
    display: none;
  }

  @include grid-breakpoint($mq-desk, desk) {
    ul {
      &:not(.footer-menu--sub) {
        li {
          font-size: 14px;
          margin-left: gutter(1);
          &:not(.footer-menu__item--sub) {
            width: span(4 of 12);
            font-size: 18px;
          }

          .footer-menu__link--with-sub {
            margin-bottom: 20px;
            display: block;
          }

          h5.footer-menu__link--with-sub {
            margin-bottom: 20px;
          }
        }

        li:nth-child(2n) {
          margin-left: gutter(1);
        }

        li:nth-child(3n) {
          margin-left: 0;
        }
      }
    }
  }

  body[dir="ltr"] & {
    ul {
      &:not(.footer-menu--sub) {
        li {
          margin-left: 0;
          margin-right: gutter(1);
        }

        li:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    @include grid-breakpoint($mq-desk, desk) {
      ul {
        &:not(.footer-menu--sub) {
          li:nth-child(2n) {
            margin-right: gutter(1);
          }

          li:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
