// Define your custom typorgraphy/classes here.
// -----------------------------------------------------------------------------
h1 { font-size: 60px; }
h2 { font-size: 50px; }
h3 { font-size: 40px; }
p { font-size: 18px; }
p.medium { font-size: 20px; }
p.large { font-size: 24px; }
