<div {{ bem(link_list_base_class, link_list_modifiers, link_list_blockname, link_list_extraclass) }}>
  <div class="container">
    <div class="heading"><h4>{{ block_title }}</h4></div>
    <div class="row">
      {% for item in items %}
        <div class="col-md-4 px-4">
          {% include "@ds_elements/links/link/arrow-link.twig" with {
            item__content: item.link_content,
            item__url: item.link_url,
            item__link_title: item.link_title,
            link_base_class: "link",
            link_container_base_class: "link-container",
            link_container_modifiers: ['list'],
            is_external: item.is_external,
            item__icon_url: item.icon_url,
            link_modifiers: [],
          } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
