<div {{bem('item', [], 'information', 'col-md-4')}}>
  <div class="information__content">
    <h2 class="information__title">{{ title }}</h2>
    <p class="information__text">{{ description }}</p>
  </div>
</div>